@charset "ISO-8859-1";
*{
	height:auto;
}
.login-block{
float:left;
width:100%;
padding : 50px 0;
}

.container{	 border-radius: 20px; width: 30%; height: 30%;}
.login-sec{padding: 50px 30px; position:relative;}
.login-sec h2{margin-bottom:30px; font-weight:600; font-size:30px; }
.btn-login{background: #0069c0; color:#fff; font-weight:600;}
.login::after{
	opacity: 0.1;
}
.text-uppercase{
	font-weight:400; font-size:20px;
}
.form-control{
	background-color:rgba(255,255,255,0.5);
	color:#000000;
	font-size: large;
}
.field-icon {
  float: right;
  margin-left: 10px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
